/* ---------------------------------------------------------------------------
Theme Pure_default 

child-theme of Pure_default

by flop25 http://www.planete-flop.fr/
------------------------------------------------------------------------------ */

@import "iconset.css";

/* positionnement */
#autre_content {
	padding-bottom: 1em;
}

#menubar DL, #menubar DT, #the_page, BODY {
	margin: 0px;
	padding: 0px;
}
.stuffs_block {
margin-bottom:5px!important;
}
#theImage P {
	margin-left:10%;
	margin-right:10%;
}
.thumbnails SPAN, .thumbnails .wrap2 A, .thumbnails LABEL, .thumbnailCategory DIV.illustration {
    width: auto;
}
.description  {
    padding-left: 10px;
}
.illustration IMG {
	max-height:128px;
}

/*--------menu--------------*/
#table_content, .table_menu, #table_mbLinks, #table_mbCategories, #table_mbTags, #table_mbSpecials, #table_mbMenu, #table_mbIdentification {
width:100%;
border:0;
padding:0;
margin:0;
}

/*--------image--------------*/
#imageHeaderBar .browsePath {
    font-size: 120%;
    font-weight: bold;
}
/*-*/

.switchBox A {
	color: #000;
}
.switchBox {
	font-size: 11px;
	color: #000;
	text-shadow: 0 0 2px #ccc;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#fff));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 5px #555;
	-webkit-box-shadow: 0 0 5px #555;
	-moz-box-shadow: 0 0 5px #555;
}
.switchBox A:hover {
        color: #000;
	text-shadow: 0 0 1px #000;
}

